"materiais brutos/*.pdf" filter=lfs diff=lfs merge=lfs -text
"Flashcards Brutos/*.apkg" filter=lfs diff=lfs merge=lfs -text
"Flashcards Brutos/*.zip" filter=lfs diff=lfs merge=lfs -text
obras-brutos/*.pdf filter=lfs diff=lfs merge=lfs -text
